<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <style>
    #app {
      width: 100%;
      height: 300px;
      margin: 120px 300px;
    }
    .error {
      color: #f00;
    }
  </style>
  <style>

  </style>
</head>
<body>
<div id="app">
  <div class="box">
    <vue-numeric-input  v-model="value" :min="prop.min" :max="prop.max" :step="prop.step"></vue-numeric-input>
    <pre v-html="prop"></pre>
  </div>
  <div class="box">
    <vue-numeric-input  v-model="value2" :min="prop2.min" :max="prop2.max" :step="prop2.step"></vue-numeric-input>
    <pre v-html="prop2"></pre>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-numeric-input@1.0.6/dist/vue-numeric-input.min.js"></script>

<script>
const VueNumericInput = window['VueNumericInput'].default;
Vue.use(VueNumericInput);

new Vue({
  el: '#app',
  data: {
    value:1,
    prop: {
      min: 1,
      max: 10,
      step: 2
    },
    value2:1,
    prop2: {
      min: 1,
      max: 100,
      step: 10
    }
  }
});

(() => {
  var iframe = document.createElement('iframe');
  iframe.style.display = 'none';
  document.body.appendChild(iframe);
  setTimeout(() => {
    var table = Object.keys(window)
            .filter((key) => {
              return typeof iframe.contentWindow[key] === 'undefined';
            })
            .reduce((obj, key) => {
              obj[key] = {value: window[key]};
              return obj;
            }, {});
    document.body.removeChild(iframe);
    console.table(table);
  }, 0);
})();
</script>
</body>
</html>
