<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <style>
    
    #app {
      padding:165px;
      width: 100%;
    }
    .error {
      color: #f00;
    }
    input {
      margin-bottom: 20px;
    }
    .img {
      padding: 5px;
      display: inline-block;
    }

    .lbox {
      height: 1500px;
    }
    .ps {
      height: 350px;
      border: 2px solid #000;
    }
  </style>
</head>
<body>
<div id="app">
  <v-facebook-login v-model="model" @sdk-init="handleSdkInit" />
  <button v-if="scope.logout && model.connected" @click="scope.logout">
    Logout
  </button>
</div>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-facebook-login-component@2.2.1/dist/vueFacebookLoginComponent.umd.min.js"></script>

<script>
console.log(window);

new Vue({
  el: '#app',
  data: {
    FB: {},
    model: {},
    scope: {}
  },
  methods: {
    handleSdkInit: function(a) {
      console.log(a);
      this.FB = a.FB
      this.scope = a.scope
    }
  }
});

(() => {
  var iframe = document.createElement('iframe');
  iframe.style.display = 'none';
  document.body.appendChild(iframe);
  setTimeout(() => {
    var table = Object.keys(window)
            .filter((key) => {
              return typeof iframe.contentWindow[key] === 'undefined';
            })
            .reduce((obj, key) => {
              obj[key] = {value: window[key]};
              return obj;
            }, {});
    document.body.removeChild(iframe);
    console.table(table);
  }, 0);
})();
</script>
</body>
</html>
