<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Section 4-4</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div id="app">
  <div class="container">
    <button @click="clearLS">セッションを削除する</button>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr is="draggable" tag="tr" v-model="columns">
          <th v-for="(column, index) in columns" :key="'h'+index">{{column}}</th>
        </tr>
      </thead>
      <tbody is="draggable" tag="tbody" v-model="rows" :options="{handle:'.handle'}">
        <tr v-for="row in rows">
          <td v-for="(column, index) in columns" 
          :key="'r'+index"
          :class=" column=='handle'? 'handle text-center':'' ">{{row[column]}}</td>
        </tr>
      </tbody>
      <tfoot class="thead-light">
        <tr is="draggable" tag="tr" v-model="columns">
          <th v-for="(column, index) in columns" :key="'f'+index">{{column}}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js"></script>
<script src="https://unpkg.com/vue-ls@3.2.2/dist/vue-ls.min.js"></script>

<script>
let rows = [];

for(let n=1; n<=10; n++){
  rows.push({
    'handle':'#',

    'id': n,
    'name': 'name'+n,
    'email': 'info'+n+'@hoge.com',
    'category': 'category'+n,
    'created_at': '2021-01-01',
  });
}

const draggable = window['vuedraggable'];

const Storage = window.VueStorage;
Vue.use(Storage);

new Vue({
  el: '#app',
  components: {
    'draggable': draggable,
  },
  data: {
    columns: [],
    rows: rows
  },
  methods: {
    clearLS:function(){
      if(confirm('セッションを削除します')){
        Vue.ls.clear();
        location.reload();
      }
    }
  },
  beforeMount: function(){
    if(Vue.ls.get('LScolumns')){
      this.columns =  JSON.parse(Vue.ls.get('LScolumns'));
    } else {
      this.columns =  [
        'handle',
        'id',
        'name',
        'email',
        'category',
        'created_at'
      ];
    }
  },
  watch: {
    columns:function(newVlue){
      Vue.ls.set('LScolumns', JSON.stringify(newVlue), 60 * 60 * 1000);
    }
  }
});

(() => {
  var iframe = document.createElement('iframe');
  iframe.style.display = 'none';
  document.body.appendChild(iframe);
  setTimeout(() => {
    var table = Object.keys(window)
            .filter((key) => {
              return typeof iframe.contentWindow[key] === 'undefined';
            })
            .reduce((obj, key) => {
              obj[key] = {value: window[key]};
              return obj;
            }, {});
    document.body.removeChild(iframe);
    console.table(table);
  }, 0);
})();
</script>
</body>
</html>
