<!DOCTYPE html>
<html>
    <body>
        <div id="app" class="container">
            <table class="table table-bordered">
              <thead>
                <tr is="vue:draggable" tag="tr" v-model="headers" :item-key="key => 'thead-' + key">
                  <template #item="{element:header}">
                    <th> {{header.label}} </th>
                  </template>
                </tr>
              </thead>
              <tbody is="vue:draggable" tag="tbody" v-model="items" :item-key="key => 'tr-' + $index">
                <template #item="{element:item}">
                  <tr>
                    <td v-for="header in headers">{{item[header.key]}}</td>
                  </tr>
                </template>
              </tbody>
            </table>
        </div>

        https://v3.ja.vuejs.org/api/special-attributes.html#is

          
          <!-- bootstrap -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <!-- bootstrap end -->
          <!-- Vue 3.2.26 -->
          <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.js"></script>
          <!-- Vue 3.2.26 end -->
          <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
          <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
          <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
          <script src="https://cdn.jsdelivr.net/npm/vuedraggable@4.1.0/dist/vuedraggable.umd.min.js"></script>
    
    
<script>
const draggable = window['vuedraggable'];
const App = {
  components: {
    'draggable': draggable,
  },
  data() {
    return {
      headers: [
        {key: 'no', label:'No'},
        {key: 'name', label:'Name'},
        {key: 'email', label:'E-Mail'}
      ],
      header: {no:'No', name:'Name', email:'E-Mail'},
      items:[
        {no:1, name:'Daiki', email:'daiki@hoge.net'},
        {no:2, name:'Naoki', email:'naoki@hoge.net'},
        {no:3, name:'Yuki', email:'yuki@hoge.net'},
        {no:4, name:'Aoi', email:'aoi@hoge.net'},
      ]
    }
  }
}
const app = Vue.createApp(App).mount('#app');

// デフォルト以外のグローバル変数をコンソールに表示
              (() => {
  var iframe = document.createElement('iframe');
  iframe.style.display = 'none';
  document.body.appendChild(iframe);
  setTimeout(() => {
    var table = Object.keys(window)
            .filter((key) => {
              return typeof iframe.contentWindow[key] === 'undefined';
            })
            .reduce((obj, key) => {
              obj[key] = {value: window[key]};
              return obj;
            }, {});
    document.body.removeChild(iframe);
    console.table(table);
  }, 0);
})();
          </script>
    </body>
</html>