<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <style>
    
    #app {
      padding:65px;
      width: 100%;
    }
    .error {
      color: #f00;
    }
    input {
      margin-bottom: 20px;
    }
    .img {
      padding: 5px;
      display: inline-block;
    }
  </style>
  <style>
    .box {
      height: 2000px;
    }
  </style>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
<div id="app">
  <vue-roll-list
  v-if="list.length"
  :list="list"
  :fetch="getData"
  :count="count"
  :set-loading="true"
>
  <ul slot-scope="{ list }">
    <li
      v-for="item in list"
      :key="item.id"
      :style="{ width: `${item.width}px`, backgroundColor: item.style.color }"
    >
      {{ item.index + 1 }}
    </li>
  </ul>
  <ul slot="loading">
    <li
      v-for="item in count"
      :key="item"
    >
      loading
    </li>
  </ul>
</vue-roll-list>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-roll-list@0.1.19/dist/vue-roll-list.umd.min.js"></script>

<script>
const VueRollList = window['vue-roll-list'];  
new Vue({
  el: '#app', 
  components: {
    'vue-roll-list': VueRollList
  },
});

(() => {
  var iframe = document.createElement('iframe');
  iframe.style.display = 'none';
  document.body.appendChild(iframe);
  setTimeout(() => {
    var table = Object.keys(window)
            .filter((key) => {
              return typeof iframe.contentWindow[key] === 'undefined';
            })
            .reduce((obj, key) => {
              obj[key] = {value: window[key]};
              return obj;
            }, {});
    document.body.removeChild(iframe);
    console.table(table);
  }, 0);
})();
</script>
</body>
</html>
