<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <style>
    .error {
      color: #f00;
    }
    #app {
      padding:125px;
    }
    input {
      margin-bottom: 20px;
    }
    .img {
      padding: 5px;
      display: inline-block;
    }

  </style>
</head>
<body>
<div id="app">
  <div class="form-group">
    <label for="exampleFormControlInput1">GitHub slug</label>
    <input type="text" class="form-control" v-model="slug">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">GitHub User</label>
    <input type="text" class="form-control" v-model="user">
  </div>
  <gh-btns-watch :slug="slug" show-count></gh-btns-watch>
  <gh-btns-star :slug="slug" show-count></gh-btns-star>
  <gh-btns-fork :slug="slug" show-count></gh-btns-fork>
  <gh-btns-follow :user="user" show-count></gh-btns-follow>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-github-buttons@3.1.0/dist/vue-github-buttons.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue-github-buttons@3.1.0/dist/vue-github-buttons.web.min.js"></script>

<script>
console.log(window);

(() => {
  var iframe = document.createElement('iframe');
  iframe.style.display = 'none';
  document.body.appendChild(iframe);
  setTimeout(() => {
    var table = Object.keys(window)
      .filter((key) => {
        return typeof iframe.contentWindow[key] === 'undefined';
      })
      .reduce((obj, key) => {
        obj[key] = {value: window[key]};
        return obj;
      }, {});
    document.body.removeChild(iframe);
    console.table(table);
  }, 0);
})();

Vue.use(VueGitHubButtons);

new Vue({
  el: '#app',
  data: {
    slug: 'vuejs/vue',
    user: 'yyx990803'
  }
});
</script>
</body>
</html>
