<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <style>
    .error {
      color: #f00;
    }
    #app {
      padding: 100px;
    }
    button:disabled {
      cursor:not-allowed;
    }
  </style>
</head>
<body>
<div id="app">
  <validation-observer ref="obs" v-slot="{ invalid, validated}">
    <label>名前</label>
    <validation-provider name="name" rules="required">
      <div slot-scope="{ errors }">
        <input v-model="name">
        <p class="error">{{ errors[0] }}</p>
      </div>
    </validation-provider>

    <label>メールアドレス</label>
    <validation-provider name="email" rules="required|email">
      <div slot-scope="{ errors }">
        <input v-model="email">
        <p class="error">{{ errors[0] }}</p>
      </div>
    </validation-provider>
    <button type="button" @click="submit" :disabled="invalid || !validated">送信</button>
  </validation-observer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vee-validate@3.0.11/dist/rules.umd.min.js"></script>

<script>
console.log(window);

const VeeValidate = window.VeeValidate;
const ValidationProvider = VeeValidate.ValidationProvider;
const ValidationObserver = VeeValidate.ValidationObserver;
const VeeValidateRules = window.VeeValidateRules;
const required = VeeValidateRules.required;
const email = VeeValidateRules.email;

required.message = '必須項目です';
email.message = 'メールの形式ではありません';

VeeValidate.extend('required', required);
VeeValidate.extend('email', email);

Vue.component('ValidationProvider', ValidationProvider);
Vue.component('ValidationObserver', ValidationObserver);

let app = new Vue({
  el: '#app',
  data: {
    name: '',
    email: ''
  },
  methods: {
    submit: function(){
      alert('送信しました！');
    }
  }
});
 </script>
</body>
</html>
